<%= flash[:error] if flash[:error] %>
<h3> Edycja lekcji</h3>
<%= form_for(@lesson) do |l| %>
  <%= l.label :lesson_time %>
  <%= l.date_field :lesson_time %>
  <%= l.submit "Wyślij zapytanie o lekcję" %>
<% end %>