<%= link_to 'Dodanie lekcji', new_instructorlesson_path %></br>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Data of lesson</th>
      <th>Imię i nazwisko instruktora</th>
      <th>Czy lekcja jest potwierdzona?</th>
      <th>Edit</th>
      <th>Delete/th>
    </tr>
  </thead>
  <tbody>
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.lesson_time %></td>
      <td><%= lesson.student.full_name %></td>
      <td><%= lesson.confirmed %></td>
      <td><%= link_to 'Edytuj', edit_instructorlesson_path(lesson)  %></td>
      <td><%= link_to 'Usuń', instructorlesson_path(lesson), method: :delete, data: { confirm: "Czy na pewno usunąć?"} %></td>
    </tr>
  <% end %>
  </tbody>
</table>