<%= link_to 'Dodanie użytkownika', new_usermanagement_path %></br>
<h4>Wszyscy kursanci</h4>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Imię i nazwisko kursanta</th>
      <th>Email</th>
      <th>Usunięcie</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.full_name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Usuń', usermanagement_path(user), method: :delete, data: { confirm: "Czy na pewno usunąć?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h4>Wszyscy instruktorzy</h4>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Imię i nazwisko instruktora</th>
      <th>Email</th>
      <th>Usunięcie</th>
    </tr>
  </thead>
  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.full_name %></td>
        <td><%= instructor.email %></td>
        <td><%= link_to 'Usuń', usermanagement_path(instructor), method: :delete, data: { confirm: "Czy na pewno usunąć?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h4>Wszystkie potwierdzone lekcje</h4>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Imię i nazwisko instruktora</th>
      <th>Imię i nazwisko kursanta</th>
      <th>Data lekcji</th>
    </tr>
  </thead>
  <tbody>
  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.student.full_name %></td>
      <td><%= lesson.instructor.full_name %></td>
      <td><%= lesson.lesson_time.strftime('%d.%m.%Y %H:%M') %></td>
    </tr>
  <% end %>
  </tbody>
</table>