<%= flash[:error] if flash[:error] %>
<h3> Dodanie użytkownika
</h3>
<%= simple_form_for(@user, url: usermanagements_path) do |l| %>
  <p>
    <%= l.input :full_name, as: :text, label: 'Imię i nazwisko użytkownika', error: 'To pole jest obowiązkowe' %>
  </p>
  <p>  
    <%= l.input :email, as: :text, label: 'E-mail użytkownika', error: 'To pole jest obowiązkowe' %>
  </p>
  <p>  
    <%= l.input :password %>
  </p>
  <p>  
    <%= l.input :is_an_instructor, label: 'Czy użytkownik jest instruktorem?', as: :boolean %>
  </p> 
  <%= l.submit "Zapisz użytkownika" %>
<% end %>