<%= flash[:error] if flash[:error] %>
<h3>Nowa lekcja</h3>
<%= form_for(@lesson, url: studentlessons_path) do |l| %>
  <p>
    <%= l.label :instructor_id %>
    <%= l.collection_select :instructor_id, User.where(is_an_instructor: true ), :id, :full_name %></br>
  </p>
  <p>
    <%= l.label :lesson_time %>
    <%= l.datetime_select :lesson_time, :order => [:day, :month, :year, :hour, :minute], :start_year => 2017, :default => 24.hours.from_now, :minute_step => 60 %>
  </p>
  <%= l.submit "Wyślij" %>
<% end %>